# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.MicroserviceExample.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\progetti\MyRepository\MicroserviceExample\.idea\.idea.MicroserviceExample\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
